# Data cleaning

## Import libraries

In [1]:
import pandas as pd

## Creating data frames

In [2]:
songlist = pd.DataFrame()
songdetails = pd.DataFrame()
songdailyrank = pd.DataFrame()

## Reading song_list.csv

In [3]:
songlist = pd.read_csv('/home/hunor/hobby_projects/spotify/data/song_list_raw.csv')
songlist.head()

,spotify_id,name,artists,album_name,album_release_date
0,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",THE TORTURED POETS DEPARTMENT,2024-04-18
1,2qSkIjg1o9h3YT9RAgYN75,Espresso,Sabrina Carpenter,Espresso,2024-04-12
2,2GxrNKugF82CnoRFbQfzPf,i like the way you kiss me,Artemas,i like the way you kiss me,2024-03-19
3,6XjDF6nds4DE2BBbagZol6,Gata Only,"FloyyMenor, Cris Mj",Gata Only,2024-02-02
4,5Z0UnEtpLDQyYlWwgi8m9C,Too Sweet,Hozier,Unreal Unearth: Unheard,2024-03-22

## Search NaN rows

In [4]:
songlist[songlist.isna().any(axis=1)]

,spotify_id,name,artists,album_name,album_release_date
1195,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,NaN,NaN
4071,3GMeCx87zWbtg6jD4evZ58,NaN,NaN,NaN,NaN
4094,0wbcG4kKNOdZ9wTEra3aYI,NaN,NaN,NaN,NaN
41893,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,NaN,NaN
42799,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,NaN,NaN
...,...,...,...,...,...
612905,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,NaN,NaN
613160,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,NaN,NaN
613249,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,NaN,NaN
613499,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,NaN,NaN
680863,6yxtsR3nc3aUL1wcbLn8A3,NaN,NaN,NaN,NaN

## Cleaning

### Replace NaN with 'empty'

In [5]:
songlist = songlist.fillna('empty')

### Search 'empty' rows

In [6]:
songlist[songlist.album_name == 'empty']

,spotify_id,name,artists,album_name,album_release_date
1195,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
4071,3GMeCx87zWbtg6jD4evZ58,empty,empty,empty,empty
4094,0wbcG4kKNOdZ9wTEra3aYI,empty,empty,empty,empty
41893,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
42799,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
...,...,...,...,...,...
612905,0kvD9ksvXyRHANPypIpkIh,empty,empty,empty,empty
613160,0kvD9ksvXyRHANPypIpkIh,empty,empty,empty,empty
613249,0kvD9ksvXyRHANPypIpkIh,empty,empty,empty,empty
613499,0kvD9ksvXyRHANPypIpkIh,empty,empty,empty,empty
680863,6yxtsR3nc3aUL1wcbLn8A3,empty,empty,empty,empty

### Frist

In [7]:
songlist[songlist.name == 'Brown Eyed Girl']

,spotify_id,name,artists,album_name,album_release_date
1195,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
41893,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
42799,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
45539,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
49188,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
...,...,...,...,...,...
429259,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
432906,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
546056,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
571644,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty
596852,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,empty,empty

### List of indexes

In [8]:
songlist_index = songlist[songlist['spotify_id'] == '3yrSvpt2l1xhsV9Em88Pul'].index.tolist()
songlist_index

[1195,
 41893,
 42799,
 45539,
 49188,
 52837,
 56490,
 60141,
 63789,
 67429,
 68346,
 71079,
 71996,
 74733,
 75648,
 78389,
 79297,
 82041,
 82949,
 85692,
 86597,
 89340,
 90235,
 92967,
 93872,
 94988,
 95278,
 96616,
 97537,
 98935,
 100272,
 103924,
 107585,
 111235,
 114886,
 118528,
 119428,
 122166,
 123083,
 125825,
 129482,
 133125,
 136772,
 137680,
 140430,
 141316,
 144110,
 145050,
 145443,
 146235,
 147998,
 159277,
 162907,
 166572,
 170224,
 184821,
 188461,
 190471,
 192117,
 316202,
 338103,
 341741,
 367272,
 385527,
 389172,
 392794,
 396452,
 400108,
 403751,
 407388,
 411031,
 414649,
 418314,
 421966,
 425618,
 429259,
 432906,
 546056,
 571644,
 596852]

### Replacement and check

In [9]:
songlist.loc[songlist_index, 'album_name'] = 'Blowinâ€™ Your Mind!'
songlist.loc[songlist_index, 'album_release_date'] = '1967-09-01'
songlist[songlist.name == 'Brown Eyed Girl']

,spotify_id,name,artists,album_name,album_release_date
1195,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
41893,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
42799,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
45539,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
49188,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
...,...,...,...,...,...
429259,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
432906,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
546056,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
571644,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01
596852,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,Blowinâ€™ Your Mind!,1967-09-01

### Search 'empty' rows

In [10]:
songlist[songlist.album_name == 'empty']

                    spotify_id   name artists album_name album_release_date
4071    3GMeCx87zWbtg6jD4evZ58  empty   empty      empty              empty
4094    0wbcG4kKNOdZ9wTEra3aYI  empty   empty      empty              empty
150887  3vz3SKnCyJCzPuXWLoGfdG  empty   empty      empty              empty
154332  3vz3SKnCyJCzPuXWLoGfdG  empty   empty      empty              empty
357037  2h4b8QdmU4nxZrlpz7INIs  empty   empty      empty              empty
...                        ...    ...     ...        ...                ...
612905  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613160  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613249  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613499  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
680863  6yxtsR3nc3aUL1wcbLn8A3  empty   empty      empty              empty

[173 rows x 5 columns]

In [11]:
songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

/tmp/ipykernel_47856/4123673700.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

,spotify_id,name,artists,album_name,album_release_date
432014,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433315,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433357,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433816,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
434899,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
...,...,...,...,...,...
544395,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
545138,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
548051,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
548790,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
552454,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty

### Second

In [12]:
songlist[songlist.name == 'Jingle Bells - Remastered 1999']

,spotify_id,name,artists,album_name,album_release_date
432014,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433315,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433357,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
433816,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
434899,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
...,...,...,...,...,...
544395,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
545138,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
548051,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
548790,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty
552454,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,empty,empty

### List of indexes

In [13]:
songlist_index = songlist[songlist['spotify_id'] == '4HEOgBHRCExyYVeTyrXsnL'].index.tolist()
songlist_index

[432014,
 433315,
 433357,
 433816,
 434899,
 435394,
 435636,
 436166,
 436245,
 436553,
 436943,
 436996,
 437045,
 437249,
 437456,
 437813,
 438054,
 438502,
 438543,
 438765,
 438816,
 438849,
 438905,
 439013,
 439047,
 439286,
 439618,
 439802,
 439890,
 440203,
 440590,
 440646,
 440694,
 440903,
 441108,
 441206,
 441464,
 441689,
 441914,
 442150,
 442192,
 442399,
 442461,
 442494,
 442551,
 442659,
 442704,
 442938,
 443863,
 444245,
 444304,
 444359,
 444765,
 444864,
 445353,
 445810,
 445843,
 446160,
 446208,
 446590,
 447907,
 448419,
 449018,
 449496,
 449865,
 450244,
 453149,
 453894,
 456801,
 457543,
 460449,
 461191,
 464099,
 464838,
 466161,
 466207,
 466663,
 467269,
 467707,
 467742,
 468107,
 468491,
 469813,
 469864,
 470316,
 471393,
 471766,
 472147,
 475055,
 475799,
 478706,
 479451,
 482360,
 483101,
 486014,
 486746,
 489657,
 490390,
 491708,
 491756,
 492218,
 493292,
 493668,
 494041,
 495364,
 495410,
 496945,
 497714,
 500611,
 501356,
 504266,
 505006,
 507919,
 508659,
 511569,
 512310,
 515210,
 515942,
 517255,
 517303,
 518369,
 518815,
 518846,
 519209,
 519595,
 520918,
 520968,
 522464,
 522499,
 522856,
 523262,
 530565,
 534207,
 537857,
 541492,
 544395,
 545138,
 548051,
 548790,
 552454]

### Replacement and check

In [14]:
songlist.loc[songlist_index, 'album_name'] = 'A Jolly Christmas from Frank Sinatra'
songlist.loc[songlist_index, 'album_release_date'] = '2007-01-01'
songlist[songlist.name == 'Jingle Bells - Remastered 1999']

,spotify_id,name,artists,album_name,album_release_date
432014,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
433315,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
433357,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
433816,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
434899,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
...,...,...,...,...,...
544395,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
545138,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
548051,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
548790,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
552454,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01

### Search 'empty' rows

In [15]:
songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

/tmp/ipykernel_47856/4123673700.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

,spotify_id,name,artists,album_name,album_release_date
435661,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,empty,empty
435669,7faDzZnZYqTyYThx2sbHVQ,Mistletoe And Holly - Remastered 1999,Frank Sinatra,empty,empty
438563,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,empty,empty
439315,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,empty,empty
441509,5yNgdD8E6WruhULb4n2Con,Silent Night - 1999 Remaster,Frank Sinatra,empty,empty
442214,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,empty,empty

### Third

### List of indexes

In [16]:
songlist_index = songlist[songlist['spotify_id'] == '2FPfeYlrbSBR8PwCU0zaqq'].index.tolist()
songlist_index

[435661, 438563, 439315, 442214]

### Replacement and check

In [17]:
songlist.loc[songlist_index, 'album_name'] = 'A Jolly Christmas from Frank Sinatra'
songlist.loc[songlist_index, 'album_release_date'] = '2007-01-01'
songlist[songlist.spotify_id == '2FPfeYlrbSBR8PwCU0zaqq']

,spotify_id,name,artists,album_name,album_release_date
435661,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
438563,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
439315,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01
442214,2FPfeYlrbSBR8PwCU0zaqq,Have Yourself A Merry Little Christmas - Remas...,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01

### Search 'empty' rows

In [18]:
songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

/tmp/ipykernel_47856/4123673700.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

,spotify_id,name,artists,album_name,album_release_date
435669,7faDzZnZYqTyYThx2sbHVQ,Mistletoe And Holly - Remastered 1999,Frank Sinatra,empty,empty
441509,5yNgdD8E6WruhULb4n2Con,Silent Night - 1999 Remaster,Frank Sinatra,empty,empty

### Replacement and check

In [19]:
songlist.loc[[435669, 441509], 'album_name'] = 'A Jolly Christmas from Frank Sinatra'
songlist.loc[[435669, 441509], 'album_release_date'] = '2007-01-01'
songlist[songlist.spotify_id == '7faDzZnZYqTyYThx2sbHVQ']

,spotify_id,name,artists,album_name,album_release_date
435669,7faDzZnZYqTyYThx2sbHVQ,Mistletoe And Holly - Remastered 1999,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01

In [20]:
songlist[songlist.spotify_id == '5yNgdD8E6WruhULb4n2Con']

,spotify_id,name,artists,album_name,album_release_date
441509,5yNgdD8E6WruhULb4n2Con,Silent Night - 1999 Remaster,Frank Sinatra,A Jolly Christmas from Frank Sinatra,2007-01-01

### Search 'empty' rows

In [21]:
songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

/tmp/ipykernel_47856/4123673700.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  songlist[songlist.album_name == 'empty'][songlist.name != 'empty']

Empty DataFrame
Columns: [spotify_id, name, artists, album_name, album_release_date]
Index: []

### *Unknown songs*

In [22]:
songlist[songlist.name == 'empty']

                    spotify_id   name artists album_name album_release_date
4071    3GMeCx87zWbtg6jD4evZ58  empty   empty      empty              empty
4094    0wbcG4kKNOdZ9wTEra3aYI  empty   empty      empty              empty
150887  3vz3SKnCyJCzPuXWLoGfdG  empty   empty      empty              empty
154332  3vz3SKnCyJCzPuXWLoGfdG  empty   empty      empty              empty
357037  2h4b8QdmU4nxZrlpz7INIs  empty   empty      empty              empty
512087  2V2K1hzCtgj9xAnga9WUTy  empty   empty      empty              empty
606715  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
607047  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
607584  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
607661  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
607875  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
608743  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
608847  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609080  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609235  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609489  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609560  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609577  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
609829  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
610716  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
611243  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
612732  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
612905  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613160  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613249  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
613499  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
680863  6yxtsR3nc3aUL1wcbLn8A3  empty   empty      empty              empty

### Filter and drop duplicates

In [23]:
songlist = songlist.drop_duplicates(subset='spotify_id')
songlist = songlist.reset_index(drop=True)
songlist

,spotify_id,name,artists,album_name,album_release_date
0,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",THE TORTURED POETS DEPARTMENT,2024-04-18
1,2qSkIjg1o9h3YT9RAgYN75,Espresso,Sabrina Carpenter,Espresso,2024-04-12
2,2GxrNKugF82CnoRFbQfzPf,i like the way you kiss me,Artemas,i like the way you kiss me,2024-03-19
3,6XjDF6nds4DE2BBbagZol6,Gata Only,"FloyyMenor, Cris Mj",Gata Only,2024-02-02
4,5Z0UnEtpLDQyYlWwgi8m9C,Too Sweet,Hozier,Unreal Unearth: Unheard,2024-03-22
...,...,...,...,...,...
10039,4ktTjOAAb4nYUSWDunxMeC,Tsiou,Dirty Harry,Tsiou,2023-10-16
10040,5t4ea9v5BSCWNw0aMzUoLd,Mexri Telous,Nino Xypolitas,Mexri Telous,2023-10-13
10041,7E8LK4R9gAkSG4CD1kqvsX,VirtuÃ¡lnÃ­ drogy,"Viktor Sheen, Calin",PÅ™Ã­bÄ›hy a sny,2021-11-17
10042,0SWDToufOxRVIngk8c1oZi,AMBIENTE ERRADO - Ao Vivo,Luan Santana,LUAN CITY 2.0 - FASE 2,2023-09-14
10043,5eID9KNVJV2fDSPQGzQHQg,Oficializar - Ao Vivo,"Gusttavo Lima, Maiara & Maraisa",Oficializar (Ao Vivo),2023-07-10

In [24]:
songlist[songlist.name == 'empty']

                  spotify_id   name artists album_name album_release_date
1828  3GMeCx87zWbtg6jD4evZ58  empty   empty      empty              empty
1831  0wbcG4kKNOdZ9wTEra3aYI  empty   empty      empty              empty
4090  3vz3SKnCyJCzPuXWLoGfdG  empty   empty      empty              empty
6263  2h4b8QdmU4nxZrlpz7INIs  empty   empty      empty              empty
9307  7lyv2sysHCzFjypILxAynT  empty   empty      empty              empty
9336  0kvD9ksvXyRHANPypIpkIh  empty   empty      empty              empty
9972  6yxtsR3nc3aUL1wcbLn8A3  empty   empty      empty              empty

## Drop unknown songs from table

In [25]:
unknown_id = songlist[songlist.name == 'empty'].iloc[:, 0].tolist()
unknown_id

['3GMeCx87zWbtg6jD4evZ58',
 '0wbcG4kKNOdZ9wTEra3aYI',
 '3vz3SKnCyJCzPuXWLoGfdG',
 '2h4b8QdmU4nxZrlpz7INIs',
 '7lyv2sysHCzFjypILxAynT',
 '0kvD9ksvXyRHANPypIpkIh',
 '6yxtsR3nc3aUL1wcbLn8A3']

In [26]:
songlist_index = songlist[songlist['name'] == 'empty'].index.tolist()
songlist_index

[1828, 1831, 4090, 6263, 9307, 9336, 9972]

In [27]:
songlist = songlist.drop(songlist_index)
songlist[songlist.name == 'empty']

Empty DataFrame
Columns: [spotify_id, name, artists, album_name, album_release_date]
Index: []

In [28]:
songlist = songlist.reset_index(drop=True)

In [29]:
songlist.head()

,spotify_id,name,artists,album_name,album_release_date
0,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",THE TORTURED POETS DEPARTMENT,2024-04-18
1,2qSkIjg1o9h3YT9RAgYN75,Espresso,Sabrina Carpenter,Espresso,2024-04-12
2,2GxrNKugF82CnoRFbQfzPf,i like the way you kiss me,Artemas,i like the way you kiss me,2024-03-19
3,6XjDF6nds4DE2BBbagZol6,Gata Only,"FloyyMenor, Cris Mj",Gata Only,2024-02-02
4,5Z0UnEtpLDQyYlWwgi8m9C,Too Sweet,Hozier,Unreal Unearth: Unheard,2024-03-22

## Selection by performers
### Where there is more than one performer, they will be separated so that there is only one performer in each row.

### Temporary dataframe

In [30]:
tmp = pd.DataFrame()

### Separate artists and store them in a list in the dataframe

In [31]:
tmp = songlist
tmp['artists'] = tmp['artists'].str.split(',').apply(lambda x: [artists.strip() for artists in x])

### One performer in each row

In [32]:
df_songlist = tmp.explode('artists')
df_songlist.head()

,spotify_id,name,artists,album_name,album_release_date
0,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),Taylor Swift,THE TORTURED POETS DEPARTMENT,2024-04-18
0,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),Post Malone,THE TORTURED POETS DEPARTMENT,2024-04-18
1,2qSkIjg1o9h3YT9RAgYN75,Espresso,Sabrina Carpenter,Espresso,2024-04-12
2,2GxrNKugF82CnoRFbQfzPf,i like the way you kiss me,Artemas,i like the way you kiss me,2024-03-19
3,6XjDF6nds4DE2BBbagZol6,Gata Only,FloyyMenor,Gata Only,2024-02-02

## Write clean df_songlist to csv file (song_list.csv)

In [34]:
df_songlist.to_csv('/home/hunor/hobby_projects/spotify/data/song_list.csv', sep=',', index=False)

## Reading song_details.csv

In [41]:
songdetails = pd.read_csv('/home/hunor/hobby_projects/spotify/data/song_details_raw.csv')
songdetails.head()

,spotify_id,is_explicit,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2OzhQlSqBEmt7hmkYxfT6m,False,228965,0.675,0.397,11,-10.895,1,0.0245,0.499000,0.000006,0.0939,0.319,95.988,4
1,2qSkIjg1o9h3YT9RAgYN75,True,175459,0.701,0.771,0,-5.486,1,0.0293,0.133000,0.000012,0.1970,0.661,103.982,4
2,2GxrNKugF82CnoRFbQfzPf,False,142514,0.599,0.946,11,-4.263,1,0.0447,0.000938,0.010600,0.0826,0.747,151.647,4
3,6XjDF6nds4DE2BBbagZol6,True,222000,0.791,0.499,8,-8.472,0,0.0509,0.446000,0.000024,0.0899,0.669,99.986,4
4,5Z0UnEtpLDQyYlWwgi8m9C,False,251424,0.741,0.620,10,-5.505,1,0.0412,0.029500,0.000809,0.0398,0.934,117.038,4

In [42]:
songdetails.head()

,spotify_id,is_explicit,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2OzhQlSqBEmt7hmkYxfT6m,False,228965,0.675,0.397,11,-10.895,1,0.0245,0.499000,0.000006,0.0939,0.319,95.988,4
1,2qSkIjg1o9h3YT9RAgYN75,True,175459,0.701,0.771,0,-5.486,1,0.0293,0.133000,0.000012,0.1970,0.661,103.982,4
2,2GxrNKugF82CnoRFbQfzPf,False,142514,0.599,0.946,11,-4.263,1,0.0447,0.000938,0.010600,0.0826,0.747,151.647,4
3,6XjDF6nds4DE2BBbagZol6,True,222000,0.791,0.499,8,-8.472,0,0.0509,0.446000,0.000024,0.0899,0.669,99.986,4
4,5Z0UnEtpLDQyYlWwgi8m9C,False,251424,0.741,0.620,10,-5.505,1,0.0412,0.029500,0.000809,0.0398,0.934,117.038,4

## Search NaN rows

In [43]:
songdetails[songdetails.isna().any(axis=1)]

Empty DataFrame
Columns: [spotify_id, is_explicit, duration_ms, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature]
Index: []

## Filter duplicates

In [44]:
songdetails = songdetails.drop_duplicates(subset='spotify_id')
songdetails.head()

,spotify_id,is_explicit,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2OzhQlSqBEmt7hmkYxfT6m,False,228965,0.675,0.397,11,-10.895,1,0.0245,0.499000,0.000006,0.0939,0.319,95.988,4
1,2qSkIjg1o9h3YT9RAgYN75,True,175459,0.701,0.771,0,-5.486,1,0.0293,0.133000,0.000012,0.1970,0.661,103.982,4
2,2GxrNKugF82CnoRFbQfzPf,False,142514,0.599,0.946,11,-4.263,1,0.0447,0.000938,0.010600,0.0826,0.747,151.647,4
3,6XjDF6nds4DE2BBbagZol6,True,222000,0.791,0.499,8,-8.472,0,0.0509,0.446000,0.000024,0.0899,0.669,99.986,4
4,5Z0UnEtpLDQyYlWwgi8m9C,False,251424,0.741,0.620,10,-5.505,1,0.0412,0.029500,0.000809,0.0398,0.934,117.038,4

## Drop unknown songs from table

In [39]:
songdetails = songdetails[~songdetails['spotify_id'].isin(unknown_id)].reset_index(drop=True)
songdetails.head()

,spotify_id,is_explicit,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2OzhQlSqBEmt7hmkYxfT6m,False,228965,0.675,0.397,11,-10.895,1,0.0245,0.499000,0.000006,0.0939,0.319,95.988,4
1,2qSkIjg1o9h3YT9RAgYN75,True,175459,0.701,0.771,0,-5.486,1,0.0293,0.133000,0.000012,0.1970,0.661,103.982,4
2,2GxrNKugF82CnoRFbQfzPf,False,142514,0.599,0.946,11,-4.263,1,0.0447,0.000938,0.010600,0.0826,0.747,151.647,4
3,6XjDF6nds4DE2BBbagZol6,True,222000,0.791,0.499,8,-8.472,0,0.0509,0.446000,0.000024,0.0899,0.669,99.986,4
4,5Z0UnEtpLDQyYlWwgi8m9C,False,251424,0.741,0.620,10,-5.505,1,0.0412,0.029500,0.000809,0.0398,0.934,117.038,4

## Write clean songdetails to csv file (song_details.csv)Â¶

In [45]:
songdetails.to_csv('/home/hunor/hobby_projects/spotify/data/song_details.csv', sep=',', index=False)

## Reading song_daily_rank.csv

In [46]:
songdailyrank = pd.read_csv('/home/hunor/hobby_projects/spotify/data/song_daily_rank_raw.csv')
songdailyrank.head()

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,NaN,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,NaN,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,NaN,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,NaN,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,NaN,2024-04-28,89

In [47]:
songdailyrank

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,NaN,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,NaN,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,NaN,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,NaN,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,NaN,2024-04-28,89
...,...,...,...,...,...,...,...
694048,0AYt6NMyyLd0rLuvr0UkMH,46,4,0,AE,2023-10-18,84
694049,2Gk6fi0dqt91NKvlzGsmm7,47,3,0,AE,2023-10-18,80
694050,26b3oVLrRUaaybJulow9kz,48,2,0,AE,2023-10-18,88
694051,5ydjxBSUIDn26MFzU3asP4,49,1,0,AE,2023-10-18,88
694052,59NraMJsLaMCVtwXTSia8i,50,0,0,AE,2023-10-18,94

## Search NaN rows

In [48]:
songdailyrank[songdailyrank.isna().any(axis=1)]

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,NaN,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,NaN,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,NaN,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,NaN,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,NaN,2024-04-28,89
...,...,...,...,...,...,...,...
690457,4SW9gHnW8NfKOdqmh0ij45,46,4,0,NaN,2023-10-18,88
690458,2QjOHCTQ1Jl3zawyYOpxh6,47,3,0,NaN,2023-10-18,92
690459,4Jc7252S1P99DjQ1lNGEOc,48,2,0,NaN,2023-10-18,86
690460,5PyDJG7SQRgWXefgexqIge,49,1,0,NaN,2023-10-18,77
690461,1dGr1c8CrMLDpV6mPbImSI,50,0,0,NaN,2023-10-18,91

## Cleaning

### Replace NaN with 'empty'

In [49]:
songdailyrank = songdailyrank.fillna('empty')

### Search 'empty' rows

In [50]:
songdailyrank[songdailyrank.country == 'empty']

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,empty,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,empty,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,empty,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,empty,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,empty,2024-04-28,89
...,...,...,...,...,...,...,...
690457,4SW9gHnW8NfKOdqmh0ij45,46,4,0,empty,2023-10-18,88
690458,2QjOHCTQ1Jl3zawyYOpxh6,47,3,0,empty,2023-10-18,92
690459,4Jc7252S1P99DjQ1lNGEOc,48,2,0,empty,2023-10-18,86
690460,5PyDJG7SQRgWXefgexqIge,49,1,0,empty,2023-10-18,77
690461,1dGr1c8CrMLDpV6mPbImSI,50,0,0,empty,2023-10-18,91

### List of indexes

In [51]:
songdailyrank_index = songdailyrank[songdailyrank['country'] == 'empty'].index.tolist()
songdailyrank_index

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 3650,
 3651,
 3652,
 3653,
 3654,
 3655,
 3656,
 3657,
 3658,
 3659,
 3660,
 3661,
 3662,
 3663,
 3664,
 3665,
 3666,
 3667,
 3668,
 3669,
 3670,
 3671,
 3672,
 3673,
 3674,
 3675,
 3676,
 3677,
 3678,
 3679,
 3680,
 3681,
 3682,
 3683,
 3684,
 3685,
 3686,
 3687,
 3688,
 3689,
 3690,
 3691,
 3692,
 3693,
 3694,
 3695,
 3696,
 3697,
 3698,
 3699,
 7300,
 7301,
 7302,
 7303,
 7304,
 7305,
 7306,
 7307,
 7308,
 7309,
 7310,
 7311,
 7312,
 7313,
 7314,
 7315,
 7316,
 7317,
 7318,
 7319,
 7320,
 7321,
 7322,
 7323,
 7324,
 7325,
 7326,
 7327,
 7328,
 7329,
 7330,
 7331,
 7332,
 7333,
 7334,
 7335,
 7336,
 7337,
 7338,
 7339,
 7340,
 7341,
 7342,
 7343,
 7344,
 7345,
 7346,
 7347,
 7348,
 7349,
 10950,
 10951,
 10952,
 10953,
 10954,
 10955,
 10956,
 10957,
 10958,
 10959,
 10960,
 10961,
 10962,
 10963,
 10964,
 10965,
 10966,
 10967,
 10968,
 10969,
 10970,
 10971,
 10972,
 10973,
 10974,
 10975,
 10976,
 10977,
 10978,
 10979,
 10980,
 10981,
 10982,
 10983,
 10984,
 10985,
 10986,
 10987,
 10988,
 10989,
 10990,
 10991,
 10992,
 10993,
 10994,
 10995,
 10996,
 10997,
 10998,
 10999,
 22950,
 22951,
 22952,
 22953,
 22954,
 22955,
 22956,
 22957,
 22958,
 22959,
 22960,
 22961,
 22962,
 22963,
 22964,
 22965,
 22966,
 22967,
 22968,
 22969,
 22970,
 22971,
 22972,
 22973,
 22974,
 22975,
 22976,
 22977,
 22978,
 22979,
 22980,
 22981,
 22982,
 22983,
 22984,
 22985,
 22986,
 22987,
 22988,
 22989,
 22990,
 22991,
 22992,
 22993,
 22994,
 22995,
 22996,
 22997,
 22998,
 22999,
 26100,
 26101,
 26102,
 26103,
 26104,
 26105,
 26106,
 26107,
 26108,
 26109,
 26110,
 26111,
 26112,
 26113,
 26114,
 26115,
 26116,
 26117,
 26118,
 26119,
 26120,
 26121,
 26122,
 26123,
 26124,
 26125,
 26126,
 26127,
 26128,
 26129,
 26130,
 26131,
 26132,
 26133,
 26134,
 26135,
 26136,
 26137,
 26138,
 26139,
 26140,
 26141,
 26142,
 26143,
 26144,
 26145,
 26146,
 26147,
 26148,
 26149,
 29750,
 29751,
 29752,
 29753,
 29754,
 29755,
 29756,
 29757,
 29758,
 29759,
 29760,
 29761,
 29762,
 29763,
 29764,
 29765,
 29766,
 29767,
 29768,
 29769,
 29770,
 29771,
 29772,
 29773,
 29774,
 29775,
 29776,
 29777,
 29778,
 29779,
 29780,
 29781,
 29782,
 29783,
 29784,
 29785,
 29786,
 29787,
 29788,
 29789,
 29790,
 29791,
 29792,
 29793,
 29794,
 29795,
 29796,
 29797,
 29798,
 29799,
 33400,
 33401,
 33402,
 33403,
 33404,
 33405,
 33406,
 33407,
 33408,
 33409,
 33410,
 33411,
 33412,
 33413,
 33414,
 33415,
 33416,
 33417,
 33418,
 33419,
 33420,
 33421,
 33422,
 33423,
 33424,
 33425,
 33426,
 33427,
 33428,
 33429,
 33430,
 33431,
 33432,
 33433,
 33434,
 33435,
 33436,
 33437,
 33438,
 33439,
 33440,
 33441,
 33442,
 33443,
 33444,
 33445,
 33446,
 33447,
 33448,
 33449,
 37050,
 37051,
 37052,
 37053,
 37054,
 37055,
 37056,
 37057,
 37058,
 37059,
 37060,
 37061,
 37062,
 37063,
 37064,
 37065,
 37066,
 37067,
 37068,
 37069,
 37070,
 37071,
 37072,
 37073,
 37074,
 37075,
 37076,
 37077,
 37078,
 37079,
 37080,
 37081,
 37082,
 37083,
 37084,
 37085,
 37086,
 37087,
 37088,
 37089,
 37090,
 37091,
 37092,
 37093,
 37094,
 37095,
 37096,
 37097,
 37098,
 37099,
 40700,
 40701,
 40702,
 40703,
 40704,
 40705,
 40706,
 40707,
 40708,
 40709,
 40710,
 40711,
 40712,
 40713,
 40714,
 40715,
 40716,
 40717,
 40718,
 40719,
 40720,
 40721,
 40722,
 40723,
 40724,
 40725,
 40726,
 40727,
 40728,
 40729,
 40730,
 40731,
 40732,
 40733,
 40734,
 40735,
 40736,
 40737,
 40738,
 40739,
 40740,
 40741,
 40742,
 40743,
 40744,
 40745,
 40746,
 40747,
 40748,
 40749,
 44350,
 44351,
 44352,
 44353,
 44354,
 44355,
 44356,
 44357,
 44358,
 44359,
 44360,
 44361,
 44362,
 44363,
 44364,
 44365,
 44366,
 44367,
 44368,
 44369,
 44370,
 44371,
 44372,
 44373,
 44374,
 44375,
 44376,
 44377,
 44378,
 44379,
 44380,
 44381,
 44382,
 44383,
 44384,
 44385,
 44386,
 44387,
 44388,
 44389,
 44390,
 44391,
 44392,
 44393,
 44394,
 44395,
 44396,
 44397,
 44398,
 44399,
 48000,
 48001,
 48002,
 48003,
 48004,
 48005,
 48006,
 48007,
 48008,
 48009,
 48010,
 48011,
 48012,
 48013,
 48014,
 48015,
 48016,
 48017,
 48018,
 48019,
 48020,
 48021,
 48022,
 48023,
 48024,
 48025,
 48026,
 48027,
 48028,
 48029,
 48030,
 48031,
 48032,
 48033,
 48034,
 48035,
 48036,
 48037,
 48038,
 48039,
 48040,
 48041,
 48042,
 48043,
 48044,
 48045,
 48046,
 48047,
 48048,
 48049,
 51650,
 51651,
 51652,
 51653,
 51654,
 51655,
 51656,
 51657,
 51658,
 51659,
 51660,
 51661,
 51662,
 51663,
 51664,
 51665,
 51666,
 51667,
 51668,
 51669,
 51670,
 51671,
 51672,
 51673,
 51674,
 51675,
 51676,
 51677,
 51678,
 51679,
 51680,
 51681,
 51682,
 51683,
 51684,
 51685,
 51686,
 51687,
 51688,
 51689,
 51690,
 51691,
 51692,
 51693,
 51694,
 51695,
 51696,
 51697,
 51698,
 51699,
 55300,
 55301,
 55302,
 55303,
 55304,
 55305,
 55306,
 55307,
 55308,
 55309,
 55310,
 55311,
 55312,
 55313,
 55314,
 55315,
 55316,
 55317,
 55318,
 55319,
 55320,
 55321,
 55322,
 55323,
 55324,
 55325,
 55326,
 55327,
 55328,
 55329,
 55330,
 55331,
 55332,
 55333,
 55334,
 55335,
 55336,
 55337,
 55338,
 55339,
 55340,
 55341,
 55342,
 55343,
 55344,
 55345,
 55346,
 55347,
 55348,
 55349,
 58950,
 58951,
 58952,
 58953,
 58954,
 58955,
 58956,
 58957,
 58958,
 58959,
 58960,
 58961,
 58962,
 58963,
 58964,
 58965,
 58966,
 58967,
 58968,
 58969,
 58970,
 58971,
 58972,
 58973,
 58974,
 58975,
 58976,
 58977,
 58978,
 58979,
 58980,
 58981,
 58982,
 58983,
 58984,
 58985,
 58986,
 58987,
 58988,
 58989,
 58990,
 58991,
 58992,
 58993,
 58994,
 58995,
 58996,
 58997,
 58998,
 58999,
 62600,
 62601,
 62602,
 62603,
 62604,
 62605,
 62606,
 62607,
 62608,
 62609,
 62610,
 62611,
 62612,
 62613,
 62614,
 62615,
 62616,
 62617,
 62618,
 62619,
 62620,
 62621,
 62622,
 62623,
 62624,
 62625,
 62626,
 62627,
 62628,
 62629,
 62630,
 62631,
 62632,
 62633,
 62634,
 62635,
 62636,
 62637,
 62638,
 62639,
 62640,
 62641,
 62642,
 62643,
 62644,
 62645,
 62646,
 62647,
 62648,
 62649,
 66250,
 66251,
 66252,
 66253,
 66254,
 66255,
 66256,
 66257,
 66258,
 66259,
 66260,
 66261,
 66262,
 66263,
 66264,
 66265,
 66266,
 66267,
 66268,
 66269,
 66270,
 66271,
 66272,
 66273,
 66274,
 66275,
 66276,
 66277,
 66278,
 66279,
 66280,
 66281,
 66282,
 66283,
 66284,
 66285,
 66286,
 66287,
 66288,
 66289,
 66290,
 66291,
 66292,
 66293,
 66294,
 66295,
 66296,
 66297,
 66298,
 66299,
 69900,
 69901,
 69902,
 69903,
 69904,
 69905,
 69906,
 69907,
 69908,
 69909,
 69910,
 69911,
 69912,
 69913,
 69914,
 69915,
 69916,
 69917,
 69918,
 69919,
 69920,
 69921,
 69922,
 69923,
 69924,
 69925,
 69926,
 69927,
 69928,
 69929,
 69930,
 69931,
 69932,
 69933,
 69934,
 69935,
 69936,
 69937,
 69938,
 69939,
 69940,
 69941,
 69942,
 69943,
 69944,
 69945,
 69946,
 69947,
 69948,
 69949,
 73550,
 73551,
 73552,
 73553,
 73554,
 73555,
 73556,
 73557,
 73558,
 73559,
 73560,
 73561,
 73562,
 73563,
 73564,
 73565,
 73566,
 73567,
 73568,
 73569,
 73570,
 73571,
 73572,
 73573,
 73574,
 73575,
 73576,
 73577,
 73578,
 73579,
 73580,
 73581,
 73582,
 73583,
 73584,
 73585,
 73586,
 73587,
 73588,
 73589,
 73590,
 73591,
 73592,
 73593,
 73594,
 73595,
 73596,
 73597,
 73598,
 73599,
 77200,
 77201,
 77202,
 77203,
 77204,
 77205,
 77206,
 77207,
 77208,
 77209,
 77210,
 77211,
 77212,
 77213,
 77214,
 77215,
 77216,
 77217,
 77218,
 77219,
 77220,
 77221,
 77222,
 77223,
 77224,
 77225,
 77226,
 77227,
 77228,
 77229,
 77230,
 77231,
 77232,
 77233,
 77234,
 77235,
 77236,
 77237,
 77238,
 77239,
 77240,
 77241,
 77242,
 77243,
 77244,
 77245,
 77246,
 77247,
 77248,
 77249,
 ...]

### Replace 'empty' with 'Global Top 50'

In [52]:
#"The ISO code of the country of the Top 50 Playlist. If Null, then the playlist if 'Global Top 50'." from Kaggle

songdailyrank.loc[songdailyrank_index, 'country'] = 'Global Top 50'
songdailyrank[songdailyrank.country == 'Global Top 50']

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,Global Top 50,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,Global Top 50,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,Global Top 50,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,Global Top 50,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,Global Top 50,2024-04-28,89
...,...,...,...,...,...,...,...
690457,4SW9gHnW8NfKOdqmh0ij45,46,4,0,Global Top 50,2023-10-18,88
690458,2QjOHCTQ1Jl3zawyYOpxh6,47,3,0,Global Top 50,2023-10-18,92
690459,4Jc7252S1P99DjQ1lNGEOc,48,2,0,Global Top 50,2023-10-18,86
690460,5PyDJG7SQRgWXefgexqIge,49,1,0,Global Top 50,2023-10-18,77
690461,1dGr1c8CrMLDpV6mPbImSI,50,0,0,Global Top 50,2023-10-18,91

## Drop unknown songs from table

In [53]:
songdailyrank = songdailyrank[~songdailyrank['spotify_id'].isin(unknown_id)].reset_index(drop=True)
songdailyrank

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,Global Top 50,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,Global Top 50,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,Global Top 50,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,Global Top 50,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,Global Top 50,2024-04-28,89
...,...,...,...,...,...,...,...
694019,0AYt6NMyyLd0rLuvr0UkMH,46,4,0,AE,2023-10-18,84
694020,2Gk6fi0dqt91NKvlzGsmm7,47,3,0,AE,2023-10-18,80
694021,26b3oVLrRUaaybJulow9kz,48,2,0,AE,2023-10-18,88
694022,5ydjxBSUIDn26MFzU3asP4,49,1,0,AE,2023-10-18,88
694023,59NraMJsLaMCVtwXTSia8i,50,0,0,AE,2023-10-18,94

## Check

In [54]:
songdailyrank.head(100)

,spotify_id,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity
0,2OzhQlSqBEmt7hmkYxfT6m,1,0,49,Global Top 50,2024-04-28,93
1,2qSkIjg1o9h3YT9RAgYN75,2,0,48,Global Top 50,2024-04-28,94
2,2GxrNKugF82CnoRFbQfzPf,3,0,47,Global Top 50,2024-04-28,100
3,6XjDF6nds4DE2BBbagZol6,4,0,46,Global Top 50,2024-04-28,98
4,5Z0UnEtpLDQyYlWwgi8m9C,5,1,45,Global Top 50,2024-04-28,89
...,...,...,...,...,...,...,...
95,710qLZ4WOxBj7ZaVbVJtkh,46,4,4,ZA,2024-04-28,58
96,1ng4byy7mejezJ08hs4P7R,47,3,3,ZA,2024-04-28,52
97,5MxibP0t6WNvSdJm1Mzw2D,48,-24,2,ZA,2024-04-28,42
98,3frJQ175GcfjszVGy3YqbX,49,-33,1,ZA,2024-04-28,43
99,40ds3xedbMkWhszkGnZwxi,50,0,0,ZA,2024-04-28,81

## Write clean songdailyrank to csv file (song_daily_rank.csv)

In [55]:
songdailyrank.to_csv('/home/hunor/hobby_projects/spotify/data/song_daily_rank.csv', sep=',', index=False)